{% extends 'base.html.twig' %}

{% block title %}Nos chambres
{% endblock %}
{% block monTitre %}
	Nos chambres
{% endblock %}

{% block content %}
	<h1 class="mt-5">PARAS-LODGE-HÔTEL</h1>
	<h2>(titre des category)</h2>
	<div class="container">
		<div class="d-flex justify-content-end">
			<button>
					<a href="{{path('typeCategory',{'category': 1 })}}"> Chambre Double Supérieure</a>
			</button>
			<br/>
			<button>
				<a href="{{path('typeCategory',{'category': 2 })}}">Chambre Double Deluxe</a>
			</button>
			<br/>
			<button>
				<a href="{{path('typeCategory',{'category': 3 })}}">Suite</a>
			</button>
			<br/>
		</div>
	</div>
	<div class="row">
		<h5>Options disponible dans les chambres</h5>
		<div
			class="col-md-2">
			<!-- Default checkbox -->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
				<label class="form-check-label" for="flexCheckDefault">Vue sur mer</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
				<label class="form-check-label" for="flexCheckDefault">Climatisation</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
				<label class="form-check-label" for="flexCheckDefault">Téléphone</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
				<label class="form-check-label" for="flexCheckDefault">WI-FI Gratuit</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
				<label class="form-check-label" for="flexCheckDefault">Coffre-fort</label>
			</div>
		</div>
		<div
			class="col-md-2">
			<!-- Checked checkbox -->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
				<label class="form-check-label" for="flexCheckChecked">TV écran plat</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
				<label class="form-check-label" for="flexCheckChecked">Chaînes à la cartes</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
				<label class="form-check-label" for="flexCheckChecked">Chaînes satellite</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
				<label class="form-check-label" for="flexCheckChecked">Chaînes du cable</label><br/>

				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
				<label class="form-check-label" for="flexCheckChecked">Matériel de repassage</label>
			</div>
		</div>

	</div>


	<div class="row">
		{% for chambre in chambres %}
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 ">

				<div class="card border-primary mb-3 mx-auto " style="max-width:20rem">
					<div class="card-header text-center ">
						<img src="/uploads/{{chambre.illustration}}" class="img-fluid " style="height:200px;width:500px">
					</div>
					<div class="card-body">


						<table class="table text-center">
							<h3 class="card-title text-center pd-2 mx-3 border-bottom border-primary">
								{{chambre.name}}
							</h3>
							<tr>
								<td>Superficie
								</td>
								<td>{{chambre.superficie}}
									m2</td>
							</tr>
							<tr>
								<td>Tarif</td>
								<td>{{chambre.price}}
									€</td>
							</tr>

						</table>
					</p>
				</div>
				<button type="button " class="btn btn-outline-dark">Réserver</button>
			</div>
		</div>
	{% endfor %}
{% endblock %}
